header{
    background-color: rgb(112, 181, 242);
    width: 100%;
    z-index: 100;
    position: absolute;
}

header nav {
    display: block;
    top: 0;    
      }

nav{
    float:right;

}

nav ul li{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

nav ul{
    list-style: none;
    overflow: hidden;
}

nav ul li a {
    display: block;
    padding: 10px;
    color:black;
    text-decoration: none;
}

nav ul li:hover{
    background: #eca023;
}
    


    
